body{background: url(school.png);}

.form-group{
	padding-top: 50px;
}

.gender{
	padding-top: 50px;
}

.bd{
	padding-top: 50px;
}

.tp{padding-top: 50px;}

.edu{
	padding-top: 50px;
}

.ind{
padding-top: 50px;	
}